@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@100&family=Work+Sans:wght@100&display=swap");
/*
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;*/
$color_oscuro:#4e4e4e;
$color_amarillo:#ffc400;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color_oscuro;
    height: 100vh;
}

.logo {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 10px 30px 10px 50px;
}

.btn-outline-success {
    color: #9e9e9e;
    border-color: #ffffff00 !important;
}

.nav-link:hover {
    background-color: rgb(118, 118, 122);
}

.busqueda {
    padding: 20px;
    background-color: $color_oscuro;
}

.main__inicio {
    height: 400px;
    background-image: linear-gradient(rgba(252, 119, 141, 0.801), rgba(255, 0, 0, 0.075)), url(../img/main.jpg);
    background-size: cover;
    background-position: center;
}

.btn-submit {
    margin: 0px 0 0 0px;
}

.busqueda button {
    cursor: pointer;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s;
    padding: 1px 15px;
    border-radius: 100px;
    background: $color_amarillo;
    border: 1px solid transparent;
}

.busqueda button:hover {
    background: $color_amarillo;
}

.busqueda button>svg {
    width: 44px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

.busqueda button:hover svg {
    transform: translateX(5px);
}

.busqueda button:active {
    transform: scale(0.95);
}

.form-login {
    display: flex !important;
    justify-content: space-around;
}

.items_index {
    background-color: rgba(78, 75, 75, 0.342);
    display: flex;
    justify-content: space-around;
}

.eventos_item {
    padding: 16px;
    width: 24rem;
    margin: 1%;

    .img_items {
        height: 350px;
    }
}

.eventos_item:hover {
    box-shadow: 0 0 20px;
}

.contenido {
    margin-left: 5%;
}

.compra-btn {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
}

.footer {
    margin-top: 50px;
    padding-top: 20px;
    font-size: 13px;
    line-height: 30px;

    li {
        list-style: none;
    }

    a {
        color: white;
    }

    .redes {
        li {
            display: inline-block;
            padding-left: 20px;
            font-size: 30px;
        }
    }
}